@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("/assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url("/assets/fonts/Ubuntu/Ubuntu-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format('truetype');
    font-weight: 600;
}
