<section class="w-100 container-fluid py-4">
    <h2 class="mb-3">Calls to Action: </h2>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/cta/ngx-fluent-design-cta.interface.example.ts"
        title="API"
        [isUsageDocumentation]="false">
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/cta/module-import.example.ts"
        title="Import in Module"
        [isUsageDocumentation]="false">
    </code-example>

    <router-outlet></router-outlet>

</section>
