<section class="w-100 container-fluid py-4">
    <h2 class="mb-3">Inputs: </h2>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/cta/module-import.example.ts"
        title="Import in Module">
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/cta/module-import.example.ts"
        title="Standard Button">
        <div class="d-flex w-100 my-4 justify-content-between">
            <ngx-fluent-design-button
                type="primary"
                disabled="false">
                This is a Primary Button
            </ngx-fluent-design-button>

            <ngx-fluent-design-button
                type="standard"
                disabled="false">
                This is a standard Button
            </ngx-fluent-design-button>
        </div>

        <div class="api">
            <h5>Api:</h5>
            <markdown src="./assets/docs/code-examples/cta/standard-cta/standard-input-interface.example.ts"></markdown>
        </div>
    </code-example>
</section>
