<section class="w-100 container-fluid py-4">
    <h2 class="mb-3">Toggle: </h2>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/module-import.example.ts"
        title="Api:">
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-usage.example.ts"
        title="Basic Usage (Reactive Forms):">
        <h3 class="mb-4">Output</h3>

    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-text-area-usage.example.ts"
        title="TextArea Basic Usage (Reactive Forms)">
        <h3 class="mb-4">Output</h3>
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-usage-validators.example.ts"
        title="Usage with Validators">
        <h3 class="mb-4">Output</h3>
    </code-example>
</section>
