<div class="w-100 container-fluid py-4">
    <div class="welcome mb-4">
        <div class="introduction-container d-flex w-100 flex-column">
            <div class="w-100 justify-content-center d-flex">
                <img alt="ngx-fluent-design logo" class="fluent-design-logo img-fluid" src="./assets/ngx-fluent-design-logo.svg" />
            </div>
            <h1 class="text-center"><code>ngx-fluent-design</code></h1>
            <p class="text-center">An open-source, Angular implementation of Microsoft's Fluent Design Library</p>
        </div>
    </div>

    <ngx-fluent-design-card>
        <div class="welcome">
            <div class="note mb-3">
                <ngx-fluent-design-message-bar
                    messageBarType="warning">
                    This library has only so far been tested with Angular 11. It may work with newer and some older versions of Angular however.
                </ngx-fluent-design-message-bar>
                <p>View More:</p>
                <ul>
                    <li><a class="fluent-design-link" rel="noreferrer" target="_blank" href="https://www.npmjs.com/package/ngx-fluent-design">NPM</a></li>
                    <li><a class="fluent-design-link" rel="noreferrer" target="_blank" href="https://github.com/Dud3core-webdev/ngx-fluent-design-ui">Github</a></li>
                </ul>
            </div>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <div class="welcome">
            <h2><strong>Getting started</strong></h2>
            <p>To get started with this library, run either:</p> <br>
            <code>yarn add ngx-fluent-design</code><br>
            <p>or</p>
            <code>npm i ngx-fluent-design --save</code>
            <p>to install the package locally.</p>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <div class="welcome">
            <h2><strong>Setting the project up for usage</strong></h2>
            <p>You can either import the default stylesheet into your project: </p>
            <code>@import "~ngx-fluent-design/src/lib/styles";</code>
            <p>and this will set all components to the default color pallet. Alternatively, you can
                create your own pallet by setting the following css variables:</p>

            <markdown lineNumbers src="./assets/docs/code-examples/setup/root-styles.example.scss"></markdown>

            <p class="mt-4"><strong>Note:</strong> the library will adhere to any typography rules that you set</p>
        </div>
    </ngx-fluent-design-card>
</div>
