<div class="container py-4">
    <ngx-fluent-design-card>
        <div class="welcome">
            <h1><code>ngx-fluent-design</code></h1>
            <p>An open-source, Angular implementation of Microsoft's Fluent Design Library</p>
        </div>

        <div class="note mt-2">
            <p>View More:</p>
            <ul>
                <li>NPM</li>
                <li>Github</li>
            </ul>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <div class="welcome">
            <h2><strong>NOTE!!</strong></h2>
            <p>This library has only so far been tested with Angular 11. It may work with newer and some older versions of Angular however.</p>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <div class="welcome">
            <h2><strong>Getting started</strong></h2>
            <p>To get started with this library, run either:</p> <br>
            <code>yarn add ngx-fluent-design</code><br>
            <p>or</p>
            <code>npm i ngx-fluent-design --save</code>
            <p>to install the package locally.</p>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <div class="welcome">
            <h2><strong>Setting the project up for usage</strong></h2>
            <p>To get started with this library, run either:</p> <br>
            <code>yarn add ngx-fluent-design</code><br>
            <p>or</p>
            <code>npm i ngx-fluent-design --save</code>
            <p>to install the package locally.</p>
        </div>
    </ngx-fluent-design-card>
</div>
