:root {
    /** Primary, standard colors */
    --primary-color: rgb(0, 120, 212);
    --primary-disabled-background-color: rgb(243, 242, 241);
    --primary-disabled-font-color: rgb(210, 208, 206);

    /** CTA */
    --primary-cta-font-color: rgb(255, 255, 255);
    --primary-cta-hover-background-color: rgb(0, 90, 158);

    /** Input */
    --primary-input-border: rgb(50, 49, 48);
}
