<code-example
    codeExampleUrl="./assets/docs/code-examples/cta/standard-cta/compound-cta-usage.example.ts"
    title="Compound Button">
    <div class="d-flex w-100 my-4 justify-content-between">
        <ngx-fluent-design-compound-button
            type="primary"
            [secondaryText]="'And some secondary text'"
            [disabled]="compoundButtonsDisabled">
            This is a Primary Button
        </ngx-fluent-design-compound-button>

        <ngx-fluent-design-compound-button
            type="standard"
            [secondaryText]="'And some secondary text'"
            [disabled]="compoundButtonsDisabled">
            This is a standard Button
        </ngx-fluent-design-compound-button>
    </div>

    <ngx-fluent-design-toggle
        (changeEvent)="toggleCompoundButtons()"
        [toggled]="compoundButtonsDisabled"
        [inlineLabel]="false"
        [label]="'Toggle Disabled'"
        [disabled]="false">
    </ngx-fluent-design-toggle>

</code-example>
