<ngx-fluent-design-message-bar [actionName]="'Some action'" [displayActions]="true" [canDismiss]="true" messageBarType="success">Use this page to develop new components. Don't
    worry if you
    leave it in a mess :D
</ngx-fluent-design-message-bar>

<div class="container my-4">
    <button ngxFluentDesignLinkButton [routerLink]="['', 'desktop']" [routerLinkActive]="'active'">Desktop</button>
    <button ngxFluentDesignLinkButton [routerLink]="['', 'mobile']" [routerLinkActive]="'active'">Mobile</button>
</div>

<router-outlet></router-outlet>
