<section class="w-100 container-fluid py-4">
    <h2 class="mb-3">Inputs: </h2>
    <ngx-fluent-design-card>
        <div>
            <div class="api">
                <h3 class="mb-4">Api:</h3>
                <markdown src="./assets/docs/code-examples/inputs/module-import.example.ts"></markdown>
            </div>
        </div>
    </ngx-fluent-design-card>

    <ngx-fluent-design-card>
        <section class="usage">
            <h3 class="mb-4">Usage (Reactive Forms):</h3>
            <div class="code-example my-2">
                <markdown lineNumbers src="./assets/docs/code-examples/inputs/reactive/reactive-forms-usage.example.ts"></markdown>
            </div>
        </section>
    </ngx-fluent-design-card>
</section>
