<section class="w-100 container-fluid py-4">
    <h2 class="mb-3">Inputs: </h2>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/module-import.example.ts"
        title="Api:">
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-usage.example.ts"
        title="Basic Usage (Reactive Forms):">
            <h3 class="mb-4">Output</h3>
            <ngx-fluent-design-standard-input [label]="'standard Input'">
                <input ngxFluentDesignInput placeholder="this is a standard input" [formControl]="standardInput">
            </ngx-fluent-design-standard-input>
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-text-area-usage.example.ts"
        title="TextArea Basic Usage (Reactive Forms)">
            <h3 class="mb-4">Output</h3>
            <ngx-fluent-design-standard-input [label]="'standard Input'">
                <textarea ngxFluentDesignInput placeholder="this is a standard text area" rows="5" [formControl]="textAreaInput"></textarea>
            </ngx-fluent-design-standard-input>
    </code-example>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/reactive/reactive-forms-usage-validators.example.ts"
        title="Usage with Validators">
            <h3 class="mb-4">Output</h3>
                <ngx-fluent-design-standard-input [label]="'standard Input'">
                    <input ngxFluentDesignInput placeholder="this is a standard text area with a validator" [formControl]="standardInputValidator">
                </ngx-fluent-design-standard-input>
    </code-example>
</section>
