.sticky {
    top: 0;
    background: white;
    width: 328px;
    height: 100%;

    a {
        margin: 8px 0;
    }
}

@media screen and (max-width: 1015px) {
    .sticky {
        width: 228px;
    }
}
