.sticky {
    top: 0;
    background: white;
    width: 328px;
    height: 100%;
    position: static;

    @media screen and (max-width: 568px) {
        width: 228px;
    }

    a {
        margin: 8px 0;
    }
}
