<div class="sticky-navigation">
    <div class="px-4 pt-5 h-100">
        <section class="mt-2">
            <a class="fluent-design-link mt-3" routerLinkActive="active" [routerLink]="['', 'home']">Home</a>
        </section>
        <div class="components my-4">
            <h4 class="mb-4">Components</h4>
            <hr>
            <div class="components-links d-flex flex-column">
                <section *ngFor="let item of sideNavLinks">
                    <section class="component-section" *ngIf="item.shouldDisplayOnLive || !environment.production">
                        <h5>{{item.title}}</h5>
                        <a class="fluent-design-link" *ngFor="let link of item.subNavItems"
                           routerLinkActive="active"
                           [routerLink]="link.routerLink">{{link.title}}
                        </a>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>
