<div class="sticky">
    <div class="p-4 h-100">
        <a class="fluent-design-link" routerLinkActive="active" [routerLink]="['', 'home']">Home</a>
        <div class="components my-4">
            <h4 class="mb-4">Components</h4>
            <hr>
            <div class="components-links d-flex flex-column">
                <a class="fluent-design-link" routerLinkActive="active" [routerLink]="['', 'inputs']">Inputs</a>
                <a class="fluent-design-link" routerLinkActive="active" [routerLink]="['', 'calls-to-action']">Calls To Action</a>
            </div>
        </div>
    </div>
</div>
