<ngx-fluent-design-message-bar (actionClicked)="sayHello()"
                               [actionName]="'Ok'"
                               [fixed]="true"
                               [canDismiss]="true"
                               [messageBarType]="messageBarType"
                               [handler]="messageBarHandler">
    This is the thing
</ngx-fluent-design-message-bar>

<div class="mobile-test container w-100 my-2">
    <absolute-mess (displayErrorMessageBar)="setMessageBarType($event)"></absolute-mess>
</div>
